@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@700&display=swap');
// Poppins and PT Sans
@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('/static/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'PT Sans';
    src: url('/static/fonts/PTSans.ttf');
}