header{
    background: transparent;
    .navbar{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        margin-top: 0.43143rem;
        &-logo{
            width: 45vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 38px;
            }
        }
        &-list{
            display: flex;
            width: 55vw;
            justify-content: center;
            align-items: center;
            &__item{
                list-style: none;
                padding: 1rem 1.6rem;
            }
            &__link{
                font-family: 'PT Sans';
                color: $main-color;
                text-decoration: none;
                font-size: 0.844rem;
            }
        }
    }
}